@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #e1cec8;
  --color-dark-pink: #eccecb;
  --color-melon: #d1ddd4;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* time */
  --animation-duration: 0.3s;
  /* size */
  --border-radius-size: 5px;
}
/* Universal Tag */
* {
  box-sizing: border-box;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}
h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0px;
}
h5 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0px;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
/* section */
.section {
  padding: 50px;
  text-align: center;
}
.section__container {
  max-width: 1300px;
  margin: auto;
}
/* nav */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to right, var(--color-pink), var(--color-melon)); */
  color: var(--color-white);
  background-color: transparent;
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 1;
  transition: all var(--animation-duration);
}
.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar__toggle {
  color: var(--color-white);
  font-size: var(--font-medium);
  position: absolute;
  right: 24px;
  top: 18px;
  display: none;
}
.logo__icon {
  width: 35px;
  height: 35px;
  margin: 12px;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
#navbar.navbar--dark {
  background-color: var(--color-melon);
  padding: 8px;
}
.menu__item {
  margin: 0px 8px;
  padding: 8px;
  border-radius: var(--border-radius-size);
  border: 1px solid transparent;
  transition: all var(--animation-duration) ease-in-out;
}
.menu__item:hover {
  background-color: var(--color-melon);
  border-color: var(--color-white);
  cursor: pointer;
}

/* profile */
#profile {
  background: center/cover no-repeat url('images/background.png');
  color: var(--color-white);
  text-align: center;
  padding: 40px;
  padding-top: 120px;
}
#profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid var(--color-melon);
}
.profile__button {
  margin: 32px 0;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  padding: 8px;
  border-radius: var(--border-radius-size);
  transition: all var(--animation-duration);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
}
.profile__button:hover {
  transform: scale(1.1);
  color: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
}
/* about */

.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
}

.major__logo {
  line-height: 180px;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: var(--font-large);
}
.major__logo i {
  transition: all var(--animation-duration);
}

.major__title {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
  margin-top: 16px;
}
.major__lan {
  font-size: var(--font-micro);
}
.major__logo:hover i {
  color: var(--color-dark-pink);
  transform: rotate(20deg) scale(1.1);
}

.about__specs {
  margin-top: 3em;
}
.education {
  display: flex;
  margin: 16px;
}
.education__logo {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
.education__info {
  text-align: left;
}
.info__description {
  font-size: var(--font-small);
  color: var(--color-grey);
}
.info__period {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}
/* skills */
#skill {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin-top: 4rem;
}
.skill__bar {
  width: 90%;
  height: 2.5px;
  background-color: var(--color-grey);
}

.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
}

.skillset__right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
  height: 50%;
}
.etc {
  background-color: var(--color-light-grey);
  height: 50%;
}
.skill__name {
  margin: 30px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.skill__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  /* margin-bottom: 6px; */
}
.bar__value {
  height: 3px;
  background-color: var(--color-orange);
}

/* skill part class name... especially bar__value */

.work-categories {
  margin-top: 3rem;
}
.category__button {
  border: 0.7px solid var(--color-light-grey);
  padding: 8px 30px;
  position: relative;
  border-radius: var(--border-radius-size);
  transition: background-color var(--animation-duration);
}
.category__button.selected,
.category__button:hover {
  background-color: var(--color-blue);
}
.category__count {
  margin-left: 6px;
  background-color: var(--color-dark-white);
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  border-radius: 50%;
  color: var(--color-white);
  position: absolute;
  right: 6px;
  top: -20px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.category__button.selected .category__count,
.category__button:hover .category__count {
  top: 5px;
  opacity: 1;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  transition: all var(--animation-duration);
}
.projects.anime-out {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}
.project {
  background-color: var(--color-light-white);
  width: 280px;
  height: 250px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.project.invisible {
  display: none;
}

.project img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in-out;
}
.project__description h5 {
  color: var(--color-orange);
}
.project__description h5:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  margin-top: 8px;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--color-white);
}
.project:hover .project__description {
  opacity: 0.7;
  transform: translateY(0);
}

#testimonials {
  background-color: var(--color-light-white);
}
.testimonials {
  margin-top: 60px;
}
.testimonial {
  display: flex;
  margin-top: 1rem;
  margin: 30px;
}
.testimonial__avartar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial__avartar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avartar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  background-color: var(--color-white);
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.name a {
  color: var(--color-dark-pink);
}

#contact {
  background-color: var(--color-dark-pink);
  color: white;
}
.contact__links i {
  margin: 16px;
  transition: all var(--animation-duration);
}
.contact__links i:hover {
  transform: scale(1.1);
}
.arrow {
  width: 55px;
  height: 55px;
  background-color: var(--color-melon);
  color: var(--color-white);
  font-size: var(--font-medium);
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}
.visible {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 38px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .navbar__toggle {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-melon);
  }
  #navbar.navbar--dark {
    padding: 0;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .menu__item {
    width: 100%;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
  }
  .major__logo {
    margin: auto;
  }
  .stacks__major {
    margin-bottom: 20px;
  }
  .about__specs {
    margin-top: 2rem;
  }
  .skillset {
    flex-direction: column;
  }
  .skillset__right ul {
    margin-bottom: 38px;
  }
  .category__button {
    padding: 8px 30px;
    width: 100%;
    margin: 4px 0;
  }
  .category__count {
    right: 4px;
  }
  .project {
    flex-grow: 1;
  }
  .testimonial__avartar {
    width: 120px;
    height: 120px;
  }
  .testimonial__avartar:nth-child(odd),
  .testimonial__avartar:nth-child(even) {
    margin: 16px 0;
  }
  .testimonial:last-child {
    flex-direction: column-reverse;
  }
  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .arrow {
    width: 45px;
    height: 45px;
    font-size: var(--font-regular);
    right: 16px;
    bottom: 16px;
    z-index: 1;
  }
  .navbar__toggle {
    right: 24px;
    top: 20px;
  }
}
